<html>
    <title> Video API </title>
   
    <body>
        <h2> Welcome </h2> <br>

        <h5>Available APIs:-</h5>
        <ul>
            <li> <b>List all Videos ( GET request ) :-</b> 127.0.0.1:8000/videos</li>
            <li> <b>Upload a Video ( POST request, supports date range filter, size range filter, filter by extension ) :-</b> 127.0.0.1:8000/videos/upload</li>
            <li> <b>Video Charges ( GET request/ size, length and extension query params are mandatory ) :-</b> 127.0.0.1:8000/videos/charges</li>

        </ul>
    </body>
</html>